<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="logo.png" alt="Company Logo" />
      </div>
      <div class="footer-info">
        <div>
          <h3>Email</h3>
          <a href="mailto:&#64;">elisa&#64;factory.com</a>
        </div>
        <div>
          <h3>Address</h3>
          <p>Kettenbrückengasse 23/2/12<br />1050 Vienna</p>
        </div>
      </div>
    </div>

    <hr />

    <div class="footer-bottom">
      <div class="social-icons">
        <a href="https://instagram.com" target="_blank"
          ><img src="instagram.svg" alt="Instagram"
        /></a>
        <a href="https://facebook.com" target="_blank"
          ><img src="facebook.svg" alt="Facebook"
        /></a>
        <a href="https://twitter.com" target="_blank"
          ><img src="twitter-x.svg" alt="Twitter"
        /></a>
        <a href="https://youtube.com" target="_blank"
          ><img src="youtube.svg" alt="YouTube"
        /></a>
        <a href="https://linkedin.com" target="_blank"
          ><img src="linkedin.svg" alt="LinkedIn"
        /></a>
      </div>
      <nav class="footer-links">
        <a href="#">Imprint</a>
        <a href="#">Terms and Conditions</a>
      </nav>
    </div>
    <button class="scroll-to-top" (click)="scrollToTop()">▲</button>

    <p class="footer-copy">&copy;Elisa´s Factory 2025</p>
  </div>
</footer>
