<div class="container my-5 body-page">
    <div class="content container">

        <!-- About Me mit Wellenanimation -->
        <div class="wave-container my-3 pt-3">
            <h1 class="wave-text text-center d-flex flex-wrap justify-content-center">
                <div>
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T</span>
                </div>
                <div>
                    <span class="ms-3">M</span>
                    <span>E</span>
                </div>
            </h1>
        </div>

        <div class="container d-flex justify-content-center align-items-center text-justify flex-wrap  my-3">
            <p class="intro-text">Hello, my name is Elisa Factory. I am a passionate professional photographer. I truly enjoy capturing life's most meaningful moments and turning them into everlasting memories for you.</p>
            <img src="AboutMePicture.png" alt="Profilbild Elisa Factory" class="animated-img">
        </div>

        <!-- My Skills mit Wellenanimation -->
        <div class="wave-container">
            <h1 class="wave-text d-flex justify-content-center flex-wrap">
                <div>
                    <span>M</span>
                    <span>Y</span>
                </div>
                <div>
                    <span class="ms-3">S</span>
                    <span>K</span>
                    <span>I</span>
                    <span>L</span>
                    <span>L</span>
                    <span>S</span>
                </div>
            </h1>
        </div>
        <!-- ----------------------------- -->
        <div class="skills-container">
            <ul class="skills-list">
                <li><p>Creativity</p></li>
                <li><p>Attention to Detail</p></li>
                <li><p>Passion for Photography & Aesthetic Sense</p></li>
                <li><p>Critical Thinking</p></li>
            </ul>
        </div>
        <!-- -------- -->

        <!-- Mein Team mit Wellenanimation -->
        <div class="wave-container text-center my-5">
            <h1 class="wave-text d-flex justify-content-center flex-wrap">
                <div>
                    <span>M</span>
                    <span>Y</span>
                </div>
                <div>
                    <span class="ms-3">T</span>
                    <span>E</span>
                    <span>A</span>
                    <span>M</span>
                </div>
            </h1>
        </div>

        <!-- Team -->
        <ul class="team d-flex flex-wrap">
            <li>
                <p class="team-role">Assistant</p>
                <img src="Secretary.jpg" alt="Assistent" class="team-img">
            </li>
            <li>
                <p class="team-role">Social Media Manager</p>
                <img src="Manager.jpg" alt="Social Media Manager" class="team-img">
            </li>
            <li>
                <p class="team-role">Accountant</p>
                <img src="Accountant.jpg" alt="Accountant" class="team-img">
            </li>
        </ul>
        <!-- ---- -->

        <!-- Neue Animation unter Team -->
        <div class="split-text-container container mb-7 pb-7">
            <span class="text-part left">Work With </span>
            <span></span>
            <span class="text-part right">&nbsp; US</span>
        </div>
    </div>
</div> 