<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <section></section> <!-- Hintergrundanimation -->

    <div class="content">
        <!-- About Me mit Wellenanimation -->
        <div class="wave-container">
            <h1 class="wave-text">
                <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span> <br><span>M</span><span>E</span>
            </h1>
        </div>
        <p class="intro-text">Hello, my name is Elisa Factory. I am a passionate professional photographer. I truly enjoy capturing life's most meaningful moments and turning them into everlasting memories for you.</p>
        <img src="AboutMePicture.png" alt="Profilbild Elisa Factory" class="animated-img">

        <!-- Kamera als Hintergrund mit Skills darüber -->
        <div class="camera-container">
            <img src="camera.jpg" alt="Kamera" class="camera">
            <div class="skills-overlay">
                <!-- My Skills mit Wellenanimation -->
                <div class="wave-container">
                    <h1 class="wave-text">
                        <span>M</span><span>Y</span> <br><span>S</span><span>K</span><span>I</span><span>L</span><span>L</span><span>S</span>
                    </h1>
                </div>
                <p>Creativity</p>
                <p>Attention to Detail</p>
                <p>Passion for Photography & Aesthetic Sense</p>
                <p>Critical Thinking</p>
            </div>
        </div>

        <br><br><br><br>
        <!-- Mein Team mit Wellenanimation -->
        <div class="wave-container">
            <h1 class="wave-text">
                <span>M</span><span>Y</span><br> <span>T</span><span>E</span><span>A</span><span>M</span>
            </h1>
        </div>

        <ul class="team">
            <li>
                <p class="team-role">Assistant</p>
                <img src="Secretary.jpg" alt="Assistent" class="team-img">
            </li>
            <li>
                <p class="team-role">Social Media Manager</p>
                <img src="Manager.jpg" alt="Social Media Manager" class="team-img">
            </li>
            <li>
                <p class="team-role">Accountant</p>
                <img src="Accountant.jpg" alt="Accountant" class="team-img">
            </li>
        </ul>

    </div>

    <div class="container">
        <div class="title">
            <h1>Work With Us</h1>
        </div>
        <div class="ghost">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</body>
</html>
