
    <section></section> <!-- Hintergrundanimation -->

    <div class="content">
        <!-- About Me mit Wellenanimation -->
        <div class="wave-container">
            <h1 class="wave-text">
                <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span> <br><span>M</span><span>E</span>
            </h1>
        </div>
        <p class="intro-text">Hello, my name is Elisa Factory. I am a passionate professional photographer. I truly enjoy capturing life's most meaningful moments and turning them into everlasting memories for you.</p>
        <img src="AboutMePicture.png" alt="Profilbild Elisa Factory" class="animated-img">

            <!-- Kamera als Hintergrund mit Skills darüber -->
            <div class="camera-container">
                <img src="camera.jpg" alt="Kamera" class="cbild">
                <div class="skills-overlay">
                    <!-- My Skills mit Wellenanimation -->
                    <div class="wave-container">
                        <h1 class="wave-text">
                            <span>M</span><span>Y</span> <br><span>S</span><span>K</span><span>I</span><span>L</span><span>L</span><span>S</span>
                        </h1>
                    </div>
                    <p>Creativity</p>
                    <p>Attention to Detail</p>
                    <p>Passion for Photography & Aesthetic Sense</p>
                    <p>Critical Thinking</p>
                </div>
            </div>

            <br><br><br><br>
            <!-- Mein Team mit Wellenanimation -->
            <div class="wave-container">
                <h1 class="wave-text">
                    <span>M</span><span>Y</span><br> <span>T</span><span>E</span><span>A</span><span>M</span>
                </h1>
            </div>

            <ul class="team">
                <li>
                    <p class="team-role">Assistant</p>
                    <img src="Secretary.jpg" alt="Assistent" class="team-img">
                </li>
                <li>
                    <p class="team-role">Social Media Manager</p>
                    <img src="Manager.jpg" alt="Social Media Manager" class="team-img">
                </li>
                <li>
                    <p class="team-role">Accountant</p>
                    <img src="Accountant.jpg" alt="Accountant" class="team-img">
                </li>
            </ul>

        </div>

        

        <!-- Hier ist die Kamera Animation -->

    <!-- Neue Animation unter Team -->
    <div class="split-text-container container mb-7 pb-7">
        <span class="text-part left">Work With </span>
        <span></span>
        <span class="text-part right">&nbsp; US</span>
    </div>

