/* You can add global styles to this file, and also import other style files */

/* We are the rootcolors*/ 
:root{

    --blau: #205781;
    --leichtgrün: #4F959D;
    --türkis: #98D2C0;
    --gelb: #F6F8D5;




}